@model CourseWorkProject.Models.Blog
@{
    ViewBag.Title = "TutorCreateIdea";
    Layout = "~/Areas/Staff/Views/Shared/_StaffLayout.cshtml";
}
<div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6 blog-form">
        @using (Html.BeginForm("TutorCreateBlog", "TutorBlog", FormMethod.Post, new { enctype = "multipart/form-data", id = "TutorCreateBlog" }))
        {
            <h2 style="text-align:center">Create new Idea</h2>
            <div class="form-group">
                <b> @Html.LabelFor(h => h.Title)</b>

                @Html.TextBoxFor(h => h.Title, new { @class = "form-control form-control-lg", autocomplete = "off" })
            </div>
            <div class="form-group">
                <b>@Html.LabelFor(h => h.Content)</b>

                @Html.TextAreaFor(h => h.Content, new { @class = "form-control form-control-lg" })
            </div>
            <div class="form-group">
                <b>@Html.LabelFor(h => h.Category)</b>

                @Html.DropDownListFor(h => h.Category, new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b>@Html.LabelFor(h => h.FileName)</b>
                @Html.TextBox("File", "", new { @class = "form-control-file", type = "File" })
                @ViewBag.Message
            </div>
            <div class="form-group">
                <span>Agree with the Terms of Service: </span> @Html.CheckBox("Check", false)
            </div>
            <div style="display: inline-flex">
                <button class="btn btn-success btn-create">Create</button>
                <a href="~/Staff/TutorBlog/Index" class="btn btn-danger btn-cancel">Cancel</a>
            </div>


        }
    </div>


</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#TutorCreateBlog').on('submit', function (e) {
                e.preventDefault();
                var boxes = $('input[name=Check]:checked');
                if (boxes.length > 0) {
                    this.submit();
                }
            });
        });
    </script>
}
